[submodule "nginx-proxy"]
	path = nginx-proxy
	url = https://gitea.netmedia.pro/docker/nginx-proxy.git
[submodule "nextcloud"]
	path = nextcloud
	url = https://gitea.netmedia.pro/docker/nextcloud.git
