[submodule "nginx-proxy"]
	path = nginx-proxy
	url = https://gitea.nett.media/docker/nginx-proxy.git
[submodule "nextcloud"]
	path = nextcloud
	url = https://gitea.nett.media/docker/nextcloud.git
[submodule "postgres-ssl"]
	path = postgres-ssl
	url = https://gitea.nett.media/docker/postgres-ssl.git
[submodule "odoo"]
	path = odoo
	url = https://gitea.nett.media/docker/odoo.git
[submodule "matrix"]
	path = matrix
	url = https://gitea.nett.media/docker/matrix.git
[submodule "ninja"]
	path = ninja
	url = https://gitea.nett.media/docker/ninja.git
